@use '../../_foundation/global' as g;

body {
  --side-width: 6rem;
  --header-height: 6.5rem;
  background-color: #efdada;
  max-width: 100%;

  &.is-scrolled {
    --header-height: 5.4rem;
  }
}

.l-content {
  overflow: clip;
  max-width: 100%;

  @media(max-width: 1023px){
    max-height:100svh;
  }
}
.p-top-main {
  position: relative;

  &:before {
    content: '';
    position: fixed;
    top: var(--header-height);
    right: var(--side-width);
    height: 100svh;
    width: 1px;
    background-color: rgba(white, 0.3);
    mix-blend-mode: difference;
    z-index: 100;
    transition: top 0.25s g.$easing-out_t2;
    pointer-events: none;
  }
}

//p-top-nav
.p-top-nav {
  position: fixed;
  height: 100svh;
  width: var(--side-width);
  font-size: 1rem;
  mix-blend-mode: difference;
  color: white;
  padding-top: var(--header-height);
  z-index: 99;
  pointer-events: none;
  transition: padding-top 0.25s g.$easing-out_t2;
}

.p-top-nav__inner {
  border-right: 1px solid rgba(white, 0.3);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  writing-mode: sideways-lr;
  width: 100%;
  height: calc(100% - 7rem);
  padding-top: 5rem;
  position: sticky;
  gap: 2.5rem;
}

.p-top-nav__ttl--prev,
.p-top-nav__ttl--next {
  visibility: hidden;
  display: none;
}

//p-top-fv
.p-top-fv {
  color: white;
  position: relative;
  z-index: 2;
}
.p-top-fv__wrapper {
  background-image: url('/assets/images/top/fv__bg.webp');
  background-size: cover;
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 5rem),
    calc(100% - 6rem) 100%,
    6rem 100%,
    0 calc(100% - 5rem)
  );

  &:before {
    position: absolute;
    inset: 0;
    content: '';
    pointer-events: none;
    opacity: 0.8;
    background-image: linear-gradient(to bottom, transparent 39%, black 80%);
    z-index: -1;
  }
}

.p-top-fv__inner {
  aspect-ratio: 1360/700;
  position: relative;
  border-bottom: 1px solid rgba(white, 0.3);
  padding-top: 13rem;
  padding-left: 14.2rem;
  box-sizing: border-box;
}

.p-top-fv__scroll {
  position: absolute;
  right: 5rem;
  bottom: 8.3rem;
  color: white;
  font-size: 1.2rem;
}

.p-top-fv__scroll-txt {
  position: relative;

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    background-color: white;
    width: 2rem;
    height: 1px;
    top: 50%;
    right: -3rem;
  }

  &:before {
    translate: 0 -0.15rem;
  }
  &:after {
    translate: 0 0.15rem;
  }
}

.p-top-fv__scroll-noodle-wrapper {
  position: absolute;
  top: 0.5rem;
  right: -2.5rem;
  overflow: clip;
}
.p-top-fv__scroll-noodle-inner {
  --black-point: 0%;
  --transparent-point: 70%;
  width: 0.7rem;
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  mask-position: 0% 200%;
  mask-size: 100% 200%;
  animation: noodleRale 2.5s infinite forwards g.$easing-out_t2;

  @keyframes noodleRale {
    0% {
      mask-position: 0% 200%;
    }
    100% {
      mask-position: 0% 0%;
    }
  }
}

.p-top-fv__bottom {
  padding-top: 15rem;
  padding-left: var(--side-width);
  padding-bottom: 10.2rem;
}
.p-top-fv__bottom-inner {
  display: flex;
  padding-left: 7rem;
  padding-right: 19.7rem;
  justify-content: space-between;
  position: relative;
}

.p-top-fv__content{
  position: relative;
}

.p-top-fv__content-copy {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 2.6rem;
}

.p-top-fv__content-txt {
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 1.8rem;
}

.p-fv-content__img {
  width: 30rem;
  aspect-ratio: 300/204;
  border-radius: 0.5rem;
}

.p-top-fv__title {
  position: relative;
}

.p-top-fv__ramen {
  position: absolute;
  width: 9.8rem;
  top: 8rem;
  left: -5rem;
}

//p-top-second{
.p-top-second {
  text-align: center;
  padding-top: 9rem;
  padding-bottom: 13.8rem;
  position: relative;
  z-index: 1;

  .c-ttl {
    margin-bottom: 3rem;
  }
}

.p-top-second__txt {
  font-size: 1.6rem;
  line-height: 1.75;
  margin-bottom: 3.6rem;
}

.p-top-second__img {
  translate: 1rem 0;
  width: 63rem;
  position: relative;
  z-index: 1;
}

.p-top-second__heart {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 1;
  width: 53rem;
}

.p-top-second__content {
  position: relative;
}

.p-top-second__text.splide {
  position: absolute;
  inset: 0;
  top: 8rem;
  opacity: 0.5;
  mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);

  .splide__slide {
    width: 469.8rem;
    object-fit: contain;
  }
}

//p-top-menu
.p-top-menu {
  padding-bottom: 11.6rem;
  padding-top: 10.2rem;
  .p-top-ttl__big {
    font-size: 10rem;
    font-size:  unquote('clamp(80px,7.35vw,110px)');
    margin-bottom: 2.8rem;
    text-align: center;
    line-height: 1;
  }
}

.p-top-menu__heading {
  position: absolute;
  top: 1rem;
  right: calc(var(--side-width) + 2rem);
  font-size: 1rem;
}
.p-top-menu__lead {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 5rem;
  line-height: 1.75;
}

.p-top-menu__list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: flex-start;
}

.p-top-menu__item {
  border: 1px solid #333333;
  padding: 3rem 2.7rem;

  &:nth-of-type(1),
  &:nth-of-type(3) {
    margin-top: 12.1rem;
  }
}

.p-top-menu__thumb {
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.p-top-menu__ttl {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1;
}

.p-top-menu__txt {
  font-size: 1.4rem;
  opacity: 0.4;
  line-height: 1.5;
}

//p-top-commitment
.p-top-commitment {
  padding-top: 9rem;
  padding-bottom: 8rem;

  .p-top-ttl__big {
    font-size: 6rem;
    font-size:  unquote('clamp(45px,4.4vw,70px)');
    line-height: 1.25;
    margin-bottom: 4rem;
    letter-spacing: 0;
  }
}

.p-top-commitment__inner {
  display: flex;
  justify-content: space-between;
}
.p-top-commitment__txt {
  font-size: 1.4rem;

  line-height: 1.75;
}

.p-top-commitment__right {
  width: 40.3vw;
  .p-top-commitment__img {
    margin-bottom: 3.2rem;
    width: 100%;
    aspect-ratio: 550/476;
  }
}

.p-top-commitment__left {
  .p-top-commitment__img {
    width: 20vw;
    aspect-ratio: 275/310;
  }
  .p-top-commitment__txt {
    margin-bottom: 14.5rem;
  }
}

//p-top-tabetai
.p-top-tabetai {
  padding-top: 5rem;
  padding-bottom: 10rem;

  .p-top-ttl__jp {
    font-size: 9rem;
    font-size:  unquote('clamp(70px,6.6vw,100px)');
    line-height: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: -2rem;
    width: fit-content;
    margin-inline:auto;
    position: relative;
  }
  .p-top-ttl__jp__row2 {
    padding-left: 2.75em;
  }
}

.p-top-tabetai__top {
  position: relative;
  color: white;
  padding-top: 5.4rem;
  padding-bottom: 10rem;
  margin-bottom: 8rem;

  .p-top-tabetai__bg {
    position: absolute;
    inset: 0;
    z-index: -1;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.p-top-tabetai__img-top {
  width: 22vw;
  aspect-ratio: 300/340;
  border-radius: 0.5rem;
  margin-inline: auto;
  display: block;
  margin-bottom: -4rem;
  position: relative;
  z-index: 1;
}

.p-top-tabetai__flex {
  display: flex;
  justify-content: flex-end;
  padding-right: 10vw;
  position: relative;
}

.p-top-tabetai__img {
  width: 36.7vw;
  height:41.9vw;
  border-radius: 0.5rem;
  aspect-ratio: 500/570;
  position: absolute;
  left:13rem;
  // bottom:-12.8vw;
  top:1vw;
}

.p-top-tabetai__txt {
  // width: 37%;
  font-size: 1.4rem;
  translate: 7rem 2rem;
}

.p-top-tabetai__bottom {
  padding-inline: var(--side-width);
}

.p-top-tabetai__list {
  width: 57.7rem;
  margin-left: auto;
  margin-right: 0;
}

.p-top-tabetai__item {
  display: flex;
  align-items: center;
  padding-left: 2.2rem;
  position: relative;
  gap: 3rem;

  &:nth-of-type(1) {
    padding-bottom: 2rem;
  }

  &:nth-of-type(2) {
    padding-block: 2rem;
    border-top: 1px solid rgba(#333333, 0.3);
    border-bottom: 1px solid rgba(#333333, 0.3);
  }

  &:last-child {
    padding-top: 2rem;
  }
}

.p-top-tabetai__point-ttl {
  position: absolute;
  left: 0;
  top: 2rem;
  width: 1.2rem;

  .p-top-tabetai__item:nth-of-type(1) & {
    top: 0;
  }
}

.p-top-tabetai__thumbnail {
  width: 18rem;
  border-radius: 0.5rem;
}

.p-top-tabetai__detail {
  font-size: 1.8rem;
  line-height: 1.25;
}

//p-top-access
.p-top-access {
  .p-top-ttl__big {
    font-size: 6rem;
    margin-bottom: 5rem;
    line-height: 1;
  }
}
.p-top-access__lead {
  font-size: 1.6rem;
  line-height: 1.75;
}

.p-top-access__heading {
  padding-top: 10rem;
}

.p-top-access__inner {
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 1;
}

.p-top-access__copy {
  font-size: 8rem;
  font-size:  unquote('clamp(60px,5.882vw,90px)');
  line-height: 1;
  position: relative;
  z-index: 1;
  color: white;
}

.p-top-access__right {
  aspect-ratio: 802/656;
  width: 72.7%;
  padding-top: 3rem;
  padding-left: 2rem;
  box-sizing: border-box;
  position: relative;
  translate: calc(7rem - 1px) 0;
}

.p-top-access__map {
  position: absolute;
  top: 0;
  right: calc(6rem + 1px);
  inset: 0;
  display: block;
  border-left: 1px solid rgba(#333333, 0.3);

  img {
    height: 100%;
  }
}

.p-top-access__point {
  position: absolute;
  width: 1rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #ff0000;

  &:nth-of-type(1) {
    top: 50%;
    left: 13%;
  }
  &:nth-of-type(2) {
    top: 78%;
    left: 35%;
  }
  &:nth-of-type(3) {
    top: 67%;
    left: 58%;
  }
  &:nth-of-type(4) {
    top: 45%;
    left: 65%;
  }
  &:nth-of-type(5) {
    top: 33%;
    right: 14%;
  }
  &:nth-of-type(6) {
    top: 75%;
    right: 20%;
  }

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 8rem;
    aspect-ratio: 1/1;
    background-color: rgba(#ff0000, 0.5);
    border: 2px solid #ff0000;
    transform-origin: center;
    border-radius: 50%;
    scale: 1;
    animation: locate-anime 2s infinite g.$easing-out_t2;

    @keyframes locate-anime {
      0% {
        scale: 0;
        opacity: 1;
      }
      100% {
        opacity: 0;
        scale: 1;
      }
    }
  }
}

.p-top-share {
  padding-top: 9rem;
  padding-bottom: 10rem;
  position: relative;

  .p-top-ttl__big {
    font-size: 6rem;
    line-height: 1.25;
  }
}

.p-top-share__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.5rem;
}
.p-top-share__content {
  translate: 4rem 1rem;
}

.p-top-share__list {
  display: flex;
  gap: 1rem;
}

.p-top-share__txt {
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
}

.p-top-share__dumy {
  position: absolute;
  font-size: 1rem;
  right: 8rem;
  top: 1.5rem;
}

.p-top-share__link {
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  aspect-ratio: 1/1;
  position: relative;

  &:before {
    position: absolute;
    inset: 0;
    content: '';
    background-color: black;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
    transform-origin: center;
    transition: 0.25s g.$easing-out_t2;
    transition-property: opacity, scale;
    pointer-events: none;
  }

  &:has(.insta) {
    &:before {
      background-color: #e61d0d;
    }
  }

  @include g.hover {
    &:before {
      scale: 1;
      opacity: 1;
    }

    .p-top-share__link--icon {
      color: white;
    }
  }
}

.p-top-share__link--icon {
  width: 40%;
  aspect-ratio: 1/1;
  position: relative;
  z-index: 1;

  &.insta {
    stroke: currentColor;
    width: 45%;
  }
}

.p-top-share__gallery {
  padding-inline: var(--side-width);
}

.p-top-pr__ttl {
  width: fit-content;
  white-space: nowrap;
  padding-right: 1.2rem;
  position: relative;
  margin-right: 1.2rem;

  &:after {
    content: '';
    height: 1.2rem;
    width: 1px;
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    background-color: white;
    opacity: 0.3;
  }
}

.p-top-pr__slider-wrapper {
  height: 100%;
  width: 100%;
  overflow: clip;

  .splide {
    width: 150%;
  }
}
.p-top-pr {
  padding: 0.7rem 0 0.8rem 1.6rem;
  background-color: #242e33;
  display: flex;
  color: white;
  font-size: 1rem;
  position: relative;
  z-index: 1000;
}
.p-top-pr__item {
  display: flex;
  align-items: center;
}

.p-top-pr__icon {
  width: 1rem;
}
.l-footer {
  background-color: #e61d0d;
  color: white;
  padding-top: 4rem;
  padding-bottom: 3rem;
  .c-copy {
    &:nth-of-type(2) {
      padding-left: 10.6vw;
    }
    &:nth-of-type(3) {
      margin-left: 0;
    }
    &:nth-of-type(4) {
      translate: 6vw 0.15lh;
    }
  }
}

.l-footer__content {
  display: flex;
  align-items: flex-end;
  margin-bottom: 9.5rem;
  justify-content: space-between;
  padding-right: 16vw;
}

.l-footer__nav {
  font-size: 1.6rem;
  line-height: 1;
}

.l-footer__noodle {
  position: absolute;
  bottom: -5.7rem;
  left:19vw;
  width: 12.4vw;
  display: block;
}

.l-footer__copies {
  position: relative;
}

.l-footer__bottom {
  padding-inline: 10rem;
}

.l-footer__item {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.l-footer__bottom-inner {
  border: 1px solid rgba(white, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
}

.p-top-second__heart {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  transition: stroke-dashoffset 2s cubic-bezier(0.15, 1.03, 0.38, 0.99);

  &.is-active {
    stroke-dashoffset: 0;
  }
}

.p-top-sp-cover {
  position: fixed;
  inset: 0;
  z-index: 5000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 1.4rem;
  background-image: url('/assets/images/top/fv__bg.webp');
  background-size: cover;
  display: none;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px) brightness(0.8);
    z-index: -1;
  }

  @media(max-width:1023px){
    display: flex;
  }
}

.p-top-sp-cover__img {
  width: 4rem;
}

.p-top-sp-cover__txt{
  margin-bottom: 1rem;
}


.heart-canvas{
  filter:brightness(0.8);
  opacity: 0;
  transition:opacity 1s g.$easing-out_t2;

  &.is-visible{
    opacity: 1;
  }
}
#fv_heart1{
  position: absolute;
  top:0;
  right:0;
  z-index: 6000;
  background-color: transparent;
}
#fv_heart2{
  position: absolute;
  top:80svh;
  left:-3rem;
  z-index: 1000;
  background-color: transparent;
}
#fv_heart3{
  position: absolute;
  bottom:-2rem;
  left:20vw;
  z-index: 100;
  background-color: transparent;
  filter:brightness(.6)
}
#fv_heart4{
  position: absolute;
  top:-10rem;
  right:-8vw;
  z-index: 100;
  background-color: transparent;
}
#fv_heart5{
  position: absolute;
  top:15rem;
  left:10vw;
  z-index: 100;
  background-color: transparent;
  filter:brightness(.5);
}

#tabetai_heart1{
  position: absolute;
  top:-13rem;
  right:-13vw;
  z-index: 100;
  background-color: transparent;
  filter: brightness(.9);
}

#tabetai_heart2{
  position: absolute;
  bottom:-8rem;
  left:0vw;
  z-index: 100;
  background-color: transparent;
  filter:brightness(.7);
}
#tabetai_heart3{
  position: absolute;
  top:3rem;
  left:37vw;
  z-index: 100;
  background-color: transparent;
  filter:brightness(.5);
}
#footer_heart1{
  position: absolute;
  top: 65%;
  right: -18rem;
  translate:0 -50%;
  z-index: 100;
  background-color: transparent;
  filter:brightness(.85);
}